.projects-container{
    min-width: 348px;
    padding: 1rem 5%;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 4rem;
}
.projects-title{
    margin: 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.projects-lists{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

@media screen and (min-width: 750px) {
    .projects-container{
        padding: 1rem 10% 0;
    }
}
@media screen and (min-width: 900px) {
    .projects-container{
        padding: 1rem 15% 0;
    }
}

@media screen and (min-width: 1500px) {
    .projects-container{
        padding: 1rem 5% 0;
    }
}