.markdown-create{
    display: flex;
    margin: 1rem;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: .4rem;
    border: var(--size-border) solid var(--color-text);
}
.markdown-textArea{
    width: 100%;
    min-height: 50vh;
    height: content;
    border-radius: .4rem;
    border: var(--size-border) solid var(--color-text);
    padding: 1rem 1rem 0rem 1rem;
    resize: none;
}