.login-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.login-container.open{
    display: flex;
}
.login-content{
    position: relative;
    width: 80%;
    max-width: 30rem;
    height: 80%;
    max-height: 30rem;
    background-color: var(--color-secondary);
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    
}
.login{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.login-title{
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-accent);
}

.input-name:focus, .input-email:focus, .input-password:focus{
    outline-color: var(--color-text);
    border: none;
}
.input-name, .input-email, .input-password{
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--color-tertiary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.input-name::placeholder, .input-email::placeholder, .input-password::placeholder{
    color: var(--color-text);
}
.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
}

.btn-login{
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-signup{
    cursor: pointer;
    color: var(--color-accent);
}